<?xml version="1.0"?>
<launch>
	<node name="visualization" pkg="rviz" type="rviz" output="screen" args="-d $(find pendulum_control)/launch/inverted_pendulum.rviz"/>
	<node name="simulator" pkg="pendulum_control" type="simulator"/>
	<node name="controller" pkg="pendulum_control" type="controller"/>

</launch>
